.container {
    background-color: rgb(214, 210, 233);
    height: 620px;
    background-size: cover;
}
.logo {
    margin-bottom: 70px;
}
.customer {
    position: relative;
    top:80px;
    margin-left: 40%;
    color: white;
}
.page2 {
    margin-top: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 35%;
    border-radius: 8px;
    background-color: white;
}
.label1 {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: large;
    width: 80%;
}
.label2 {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: large;
    width: 80%;
}
.Submit {
    margin-top: 35px;
    
    border: none;
    font-size: larger;
    font-weight: bold;
    height: 45px;
}
.SIGNIN {
    margin-top: 25px;   
    border: none;
    font-size: larger;
    font-weight: bold;
    height: 45px;
}
.forgoog{
    display:flex;
    justify-content: space-between;
    width: 470px;
    color: #5659b8;
    background: wheat;}
 
